/*
    Document   : override
    Created on : 01-02-2018
    Author     : R. Olrichs
    Description:
        This is where any of your application specific styles should be included
*/

.jarvis-img {
    float: left;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 1px;
    width: 30px;
}

#composite-container team-card .team-card-front-side {
    background-image: url('images/Jarvis.png');
  }

.twt-button {
    display: inline-block;
    padding: 4px 8px;
}
